@use '../abstracts' as a;
.actionLog{
    @include a.section-content;
    @include a.section-spacing;
  &__header{
    @include a.section-header;
  }
  &__title{
    @include a.section-title;
  }
  &__empty{
    text-align: center;
    padding: 40px 20px;
    color: var(--color-second-text);

      & i{
      font-size: 48px;
      margin-bottom: 16px;
      color: var(--color-darker);
      }
      & p{
        font-size: 14px;
        margin-top: 8px;
      }
  }
  &__empty {
      text-align: center;
      padding: 40px 20px;
      color: var(--color-second-text);

      & i {
      text-align: center;
      font-size: 48px;
      margin-bottom: 16px;
      color: #cbd5e1;
      }
    }
  &__item {
  @include a.item;
  border: 1px solid #e2e8f0 !important;
  border-left: 4px solid #ef4444 !important ;
  transition: all 0.2s ease;
  position: relative;
  &:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
  }
}
}