@use '../abstracts' as a;
.management{
  &__header{
    @include a.section-header;
  }
  &__title{
    @include a.section-title;
  }
  &__add{
    font-size: 19px;
    display: inline-flex;
    gap: 15px;
  }
}