@use 'variables';

body {
    font-family: Segoe UI;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
}

a,
button,
input{
  transition-duration: var(--transition-duration);
}