:root{
  --color-main: #1d53c7;
  --color-hover: #1641b8;
  --color-icon: #335ccf;

  --color-text: #1e293b;
  --color-second-text: #64748b;

  --color-button-hover: #dadada;

  --color-background: #f8fafc;
  --color-gray-acent: #f1f5f9;
  --color-gray-border: #9ca3af;
  --color-second-border: #e5e7eb;
  --color-darker: #e2e8f0;
  --color-white: #ffffff;
  --color-view-button: #f0f0f0;

  --color-error: #dc2626;
  --color-error-border: #fecaca;

  --border-radius-small: 8px;
  --border-radius-large: 12px;

  --container-padding-x: 20px;
  --section-padding-y: 80px;

  --transition-duration: 0.3s ease;
}