@use '../abstracts' as a;
.btn{
    background: var(--color-main);
    color: var(--color-white);
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    animation: fadeIn 0.6s ease-out;

    &:hover {
    @include a.btn-hover;
    }

    &:active {
    transform: translateY(0);
    }
}